*{
    margin: 0;
    padding: 0;
}

:root{
    /* ### Primary */
    --clr-yellow: hsl(47, 88%, 63%);
    /* ### Neutral */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey: hsl(0, 0%, 50%);
    --clr-black: hsl(0, 0%, 7%);

    /* Font Weights */
    --fw-600: 600;
    --fw-800: 800;

    /* Font Size */
    --fs-300: 1em;
    --fs-300: 2em

    font-family: 'Figtree', sans-serif;
}

body{
    background-color: var(--clr-yellow);
    
}




main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    display: flex;

    flex-direction: column;
    
    justify-content: space-between;
    background-color: var(--clr-white);
    width: 80%;
    padding: 1.5em;
    border: 1px solid var(--clr-black);
    border-radius: 1em;
    /* height:60%; */
    box-shadow: 0.5em 0.5em black;
    
}

.article-img{
    border-radius: 0.75em;
}

.card-label{
    width: 5em;
    padding: 0.3em;
    text-align: center;
    background-color: var(--clr-yellow);
    border-radius: 0.5em;
    font-weight: 600;

}


@media screen and (min-width: 400px) {
    main{
        width: 90%;
    }
}