
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    /* align-content: center; */

    font-family: 'Yeseva One', serif;
    font-size: 24px;
    color: #161A30;
    background-color: #B6BBC4;
}
header h2{
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    flex:6;
    padding: 2.5% 10%;
    color: #F0ECE5 ;
    background-color: #161A30 ;

    /* border: red 1px solid; */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #161A30;
    background-color: #F0ECE5 ;
    width: 300px;
    height: 40%;
    
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}

.img-container{
    display: flex; 
    flex-grow: 1;
    flex: 1;
    max-height:50%;    
    min-height: 50%;
    
}

img{
    height: auto;
    min-width: 100%;
    border-radius: 10px;
}

.card-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding:16px;
}

.card-info h2{
    margin-bottom: 16px;
    text-align: center;

}


footer{
    color: #161A30;
    background-color: #B6BBC4;

    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}