:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

/* 
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px 
*/

@media screen and (min-width: 375px){
    
}



@media screen and (max-width: 1440px){
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
   
}

.card{

    height: 65vh;
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    max-height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--White);
    border-radius: 20px;
    padding: 24px;
    margin: 16px;  
}


.qr-img{
    width: 100%;
    border-radius: 20px;
}

.qr-container, .header, .call-to-action{
    display: flex;
    justify-content: center;
    text-align: center;
}


.header{
    

    color: var(--Dark-blue);
    font-weight: 700;
    font-size: 24px;
    padding: 8px;
}

.call-to-action{
    

    color: var(--Grayish-blue);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding:16px;

}






