:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: var(--Light-gray);

    
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    

}


main{

    /* 
    - Mobile: 375px
    - Desktop: 1440px 
    */
    height: 80vh;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: 1440px;
    min-width: 375px;
    width: 90%;

    display: flex;

    
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding:10px;
    border-radius: 5%;
    background-color: var(--White);

    border: red 1px solid;
}

.qr-container{
    border: red 1px solid;

}
img{
    border-radius: 5%;
}


.header{
    font-size: 24px;
    font-weight: 700;

    display: flex;
    flex-wrap: wrap;
    border: red 1px solid;

}

.call-to-action{
    font-size: 15px;
    font-weight: 400;
}