@import "_reset" ;
@import "_colors-fonts";

@mixin card-theme($bg-clr){
    background-color: $bg-clr;
    line-height: 1.5;
}

@mixin flex-center(){
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.0em;
}

@mixin btn-theme($bg-color){
    border: none;
    height: 3em;
    width: 10em;
    border-radius: 1.5rem;
    color: $bg-color;
    font-family: $ff-paragraph;
    font-weight: 400;

    &:hover{
        color: $very-light-gray;
        border: 1px solid $very-light-gray;
        background-color: $bg-color;
    }

}


body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-size: 15px;
}



.card{
    @include flex-center();
    padding: 10% 12%;
    max-width: 338px;
    

    .card_header{
        font-family: $ff-header;
        font-weight: 700;
        color: $very-light-gray;
    }
    .card_paragraph{
        font-family: $ff-paragraph;
        font-weight: 400;
        color: $transparent-very-light-gray;
    }

    

    &.sedans{
        border-radius: 1em 1em 0 0;
        @include card-theme($bright-orange);

        .learn_more_btn{
            @include btn-theme($bright-orange);
        }
    }

    &.suvs{
        border-radius: none;
        @include card-theme($dark-cyan);

        .learn_more_btn{
            @include btn-theme($dark-cyan);

        }
    }

    &.luxury{
        border-radius: 0 0 1em 1em;
        @include card-theme($very-dark-cyan);

        .learn_more_btn{
            @include btn-theme($dark-cyan);
        }
    }

}


@media screen and (min-width: 1000px){
    main{
        height: 45%;
        display: flex;

    }

    .card{
        justify-content: space-around;
        padding: 5% 5%;
        
        .header-img{
            margin-bottom: -2em;
        }

        .card_header{
            margin-bottom: -2em;
        }

        &.sedans{
            border-radius: 1em 0 0 1em;
        }
    
        &.suvs{
           border: none;
        }
    
        &.luxury{
            border-radius: 0 1em 1em 0;

        }
    }
}

