*{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}


 main{
    display: flex;
    flex: wrap;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    height: 100vh;
 }

.card{
    display: flex;
    
    /* background-color: coral; */
    
    height: 300px;
    width: 400px;
}




.product-img-container{
    display: flex;
    width: 200px;
    height: 100%;
    background-color: gold;
    border: 1px red solid;
}

.info-section{
    display: flex;
    width: 200px;
    height: 100%;
    background-color: gray;
    border: 1px red solid;
}


@media screen and (max-width: 375px) {
    .card{
        height: 90%;
        width: 90%;
    }

    
}