:root{
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* ### Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}


/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
 */




*{
    margin: 0;
    padding: 0;
    
    /* background-color: var(--dark-cyan); */
}


 main{
    background-color: var(--cream);
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
 }
 h1{
    font-family: 'Fraunces', serif
 }
 
 p, span, strike{
    
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    font-size: 14px;
 }

.card{
    display: flex;
    
    height: 400px;
    width: 550px;

}


.product-img-container{
    display: flex;
    /* flex:1; */

}

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
    padding:5%  ;
    /* flex:1;     */

    border-radius: 0px 10px 10px 0px;
    background-color: var(--white);
    
    /* border: 1px red solid; */
}
.price-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    margin-top: 16px;
    font-size: 12px;

        /* border: 1px red solid; */


}
.product-cost-large{
    display: flex;
    flex:1;
    justify-content: start;
    font-family: 'Fraunces', serif;
    font-size: 26px;
    
    font-weight: 700;
    color: var(--dark-cyan);
}
.product-cost-strike{
    display: flex;
    flex:1;
    justify-self: start;
    align-self: center;
    background-color: var(--white);
    /* border: 1px red solid; */
}



img{
    border-radius: 10px 0px 0px 10px;
}


.add-to-cart{
    display: flex;
    justify-content: center ;
    gap: 16px;
    align-items: center;
    align-self: center;
    margin-top: 16px;
    background-color: var(--dark-cyan);
    height:36px;
    width: 100%;
    border-radius: 8px;
       
}

.product-img-mobile{
    display: none;
}

.product-img-desktop{
    display: block;
}
button{
    border:none;
    
}
button p{
    color: var(--white);
    background-color: var(--dark-cyan);
}





@media screen and (max-width: 375px) {
    

    main{
    
        /* width: 100%; */
        /* height: 90%; */
    }

    .card{
        flex-direction: column;
        
        
        height: 90vh;
        width: 90%;
    }
    .product-img-container{
        flex:1;
    }
    .info-section{
        flex:4 ;
        border-radius: 0px 0px 10px 10px;
        height: 100%;
        width: 100%;
    }

    /* Control img load mobile vs. destop */
    .product-img-mobile{
        display:block;
    }
    .product-img-desktop{
        display: none;
    }
    img{
        border-radius: 10px 10px 0px 0px;
    }
}
