/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Primary */
    --clr-very-dark-magenta: hsl(300, 43%, 22%);
    --clr-soft-pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
    --clr-light-grayish-magenta: hsl(300, 24%, 96%);
    --clr-White: hsl(0, 0%, 100%);

    --fs-400: 15px;
    /* --fw-400: var(font-weight: 400);
    --fw-500: var(font-weight: 500);
    --fw-700: var(font-weight: 700); */
}

body{
    font-family: ;
    font-size: var(--fs-400);
    color: ;
}

img,
svg{
    display: block;
    max-width: 100%;
}